.home-section{
	.filterDesign{
		box-shadow: inset -1px 0 0 0 #d0d8dc;
  		background-color: #ffffff;
	}
	.cardDesign{
		background-color: #f4f4f4;
	}
	.overrideLoader{
		height: 90vh;
		display: flex;
		justify-content: center;
		align-content: center;
	}
	.img-selection{
		cursor: pointer;
	}
}
