.header-section{
	height: 72px;
    background-color: #39474e;
    color: #fff;
    font-size: 24px;
}
.Cards-section{
	background: #fff;
	.car-design{
		border-bottom: 1px solid #d3d3d3;
		padding-top: 15px;
        padding-bottom: 50px;
	}
	.body-design{
		width: 40px;
        background-color: black;
        height: 100%;
        position: relative;
        top: 70%;
        right: 17%;
	}
}

.s7d1-st-checkbox {
    position: absolute;
    opacity: 0;
    display: none;

    + label {
        font-size: 12px;
        color: #485a63;
        position: relative;
        cursor: pointer;
        margin-left: -5px !important;
        padding-left: 28px;
        background-image: url('/assets/checkbox-unchecked.svg');
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: left center;
        vertical-align: middle;
    }

    &:checked + label {
        background-image: url('/assets/checkbox-checked.svg');
    }
}
.filter-text{
	color: #7850dd;
}